/* ------ CLIENTES --------- */

.galeria img {

    max-width: 400px;



}

.fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
    img {
        max-width: 400px;
        padding: 10px;
        border-radius: 50px;
        &:hover {
    
            @include imagenes(-3%)
        
        
        }
    }
}

@media (max-width: 376px) {
   .fotos img {
        max-width: 330px;
    }
    
}


