/*  ----- FOOTER------- */


.footer {
    grid-area: footer;
    background-color: #E0AAFF;
    background-image: linear-gradient(to bottom, #9D4EDD, #E0AAFF);
    margin-top: 1px;
    display: flex;
    justify-content: space-between;

    .contacto {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;

        a {
            color: black;
        }

        i {
            font-size: 0.8rem;
            background-color: transparent;
            color: black;
            border: transparent;
            margin: 0;
        }

    }

    i {
        color: #fff;
        padding: 0.5rem;
        margin: 1rem;
        font-size: 2rem;
       
        border-radius: 14px;
        background-color: black;

       
        
    }
}
.fa-facebook:hover{
    color: rgb(31, 104, 213);
    transform: scale(1.1);
    
    
}
.fa-twitter:hover{
    color: #28baba;
    transform: scale(1.1);
}
.fa-whatsapp:hover{
    color: green;
    transform: scale(1.1);
}
.fa-youtube:hover{
    color: red;
    transform: scale(1.1);
}
.fa-instagram:hover{
background:  linear-gradient(175deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
transform: scale(1.1);
}
@media (max-width: 426px) {
    .footer {
        flex-direction: column-reverse;

 }
        .redes {
            text-align: center;
        i {
            font-size: 20px;
            color: #fff;
        padding: 0.3rem;
        margin: 0.5rem;
        
        border: none;
        border-radius: 10px;
        background-color: black;
        }
        }
.footer .contacto {
    flex-direction: row;

}
    }
