  /* ------color main ------ */

  main {
      background-color: #240046;
      background-image: linear-gradient(to bottom, #240046, #9D4EDD);
  }

  /* ------SECTION1--------- */

  .section1 {
      grid-area: section1;
      background-color: #240046;
      color: white;

      h2 {
        @extend %estiloTitulo;
          

      }

      p {
          font-size: 20px;
          text-align: center;
          margin: 1rem;
      }

      div {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          iframe {
              margin: 10px;
              border: grey 2px solid;
              border-radius: 5px;
          }
      }

  }




  /*  -------SECTION2------- */

  .section2 {
      grid-area: section2;
      background-color: #9D4EDD;
      color: white;
      background-image: linear-gradient(to bottom, #240046, #9D4EDD);

      div {
          display: flex;
          justify-content: center;

          h3 {
              font-size: 30px;
              margin: 100px;
              color: $tituloSection2;
              border: double 10px darkcyan;
              padding: 2px;
              border-radius: 0 20px;
          }

          img {
              max-width: 400px;
              animation-name: moov;
              animation-duration: 5s;
              animation-iteration-count: infinite;
          }
      }

      p {
          text-align: center;
          margin-left: 50px;
          margin-right: 50px;
          padding-bottom: 50px;
          max-width: 1400px;

      }

  }

  /*ANIMACIONES*/

  @keyframes moov {

      0% {
          transform: rotate(0deg);
          transition: .5s;
      }

      25% {
          transform: rotate(15deg);
          transition: .5s;
      }

      50% {
          transform: rotate(0deg);
          transition: .5s;
      }

      75% {
          transform: rotate(-15deg);
          transition: .5s;
      }

      100% {
          transform: rotate(360deg);
          transition: .5s;
      }
  }

  @media (max-width: 376px) {
      .section1 div {
          flex-direction: column;

          iframe {
              max-width: 320px;
          }
      }

      .section2 div {
          flex-direction: column;

          h3 {
              text-align: center;

          }
      }
  }